{% extends "base.html" %}

{% block content %}
  <div class = "jumbotron">
      <div class = "container">
      <div class="row">
          <div class="col"></div>
          <div class="col align-items-center">

            <h1>100maisBR</h1>
            <p> Sistema de indicação dos melhores discos de música brasileira</p>
            <p>
                <a class="fa fa-github fa-3x" style="color: #000" href="https://github.com/FelipeSBarros/100maisBR"></a>
                <a class="fa fa-twitter fa-3x" style="color: #000" href="https://twitter.com/100maisBr"></a>
            </p>
          </div>
        <div class="col"></div>
      </div>
  </div>
  </div>
{% endblock content %}