{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block content %}

<!-- OVERVIEW -->
<section>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>Obrigado por se inscrever!</h1>
            <br>
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <th class="text-right">Nome da coletâea:</th>
                    <td>{{ coletanea.nome_coletanea }}</td>
                </tr>
                <tr>
                    <th class="text-right">slug:</th>
                    <td>{{ coletanea.slug }}</td>
                </tr>
                </tbody>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>

{% endblock content %}
