{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock js %}
{% load ratings %}
{% block content %}

<!-- OVERVIEW -->
<section>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1 class="text-center">Obrigado por se inscrever!</h1>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-3">
                <br>
                <div class="text-center"><strong>Informações sobre a coletânea:</strong></div>
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <th class="text-right">Nome da coletânea:</th>
                        <td>{{ coletanea.nome_coletanea }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">slug:</th>
                        <td>{{ coletanea.slug }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
                    {% if coletanea.albums %}
                    {% for album in coletanea.albums.all %}
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ album.img_link }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.titulo }}</h5>
                    </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div style="text-align: center">
                                    <a class="card-link fa fa-spotify fa-3x" style="color: #000" href="{{ album.spotify_link }}"></a>
                                </div>
                            </li>
                        <li class="list-group-item">Ano de lançamento: {{ album.ano }}</li>
                        <li class="list-group-item">Artista(s): {{ album.artista.all|join:", " }}</li>
                        <li class="list-group-item">{% ratings album %}</li>
                        </ul>
                    </div>
                <table class="table table-user-information">
                    <tbody>
                    <tr>
    <!--                    <th class="text-right">Título:</th>-->
                        <th></th>
                        <td><h3>{{ album.titulo }}</h3>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">Capa:</th>
                        <td><img src="{{ album.img_link }}"></td>
                    </tr>
                    <tr>
                        <th class="text-right">Ouça em:</th>
                        <td><a class="fa fa-spotify fa-3x" href="{{ album.spotify_link }}" style="color: #000"></a></td>
                    </tr>
                    <tr>
                        <th class="text-right">Ano de lançamento:</th>
                        <td>{{ album.ano }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">Artista(s):</th>
                        <td>
                            {{ album.artista.all|join:", " }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">Vote:</th>
                        <td>
                            {% ratings album %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </div>
</section>

{% endblock content %}
